body {
  background-color: rgb(6, 11, 24);
}

.modal {
  position:fixed;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
  display:none;
  border:2px solid white;
  border-radius:10px;
  padding:10px 40px;
  z-index:3;
  background-color:rgb(6, 11, 24);
  animation:flyIn 500ms ease-out;
}

.modal h1, .modal h2, .modal h3 {
  text-align:center;
  color:white;
  font-family:verdana;
}

.stats * {
  margin:0;
}

#input {
  font-family:verdana;
  height:6vh;
  border:3px solid cyan;
  border-radius:2px;
  background-color:gray;
  color:white;
  font-size:1.3em;
  cursor:pointer;
  width:20vw;
}

#input:focus {
  outline:none;
}

#guessBtn {
  font-family:verdana;
  height:6vh;
  border:3px solid cyan;
  border-radius:2px;
  background-color:gray;
  color:white;
  width:5vw;
}

.suggestion {
  width:25vw;
  position:absolute;
  font-family:verdana;
  border:solid cyan;
  border-width:0 3px 3px 3px;
  border-radius:2px;
  background-color:gray;
  color:white;
}

.parentDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70vw;
}

.parentDiv span {
  color:white;
  width:11vw;
  text-align:center;
  font-family:verdana;
}

.guessBar {
  display:flex;
  position:relative;
  width:70vw;
  justify-content:space-around;
}

.oneBox {
  text-align:center;
  border:1px solid white;
  border-radius:5px;
  width:11vh;
  padding:5vh 0;
  animation:appear linear 400ms;
  animation-fill-mode:backwards;
}

img.oneBox {
  height:12vh;
  margin: 16px 0;
}

p {
  font-family:verdana;
}

h1, h2 {
  color:white;
  font-family:verdana;
}

.oneBox:nth-child(2) {
  animation-delay:300ms
}

.oneBox:nth-child(3) {
  animation-delay:600ms
}

.oneBox:nth-child(4) {
  animation-delay:900ms
}

.oneBox:nth-child(5) {
  animation-delay:1200ms
}

.oneBox:nth-child(6) {
  animation-delay:1500ms
}

@keyframes appear {
  from {
    transform:scaleY(0);
  } to {
    transform:scaleY(1);
  }
}

@keyframes flyIn {
  from {
    top:-20%;
  } to {
    top:50%;
  }
}
