@font-face { font-family: aileron; src: url("assets/Aileron.otf") format("opentype"); }
@font-face { font-family: inter; src: url("assets/Inter.ttf") format("truetype");}

/* * {
  border: solid 1px red;
} */

html {
  font-size: min(130%, 3vw);
}

h1, h2, p, a {
  color: #fdf7fa;
  font-family: Inter;
  line-height: 120%;
}

body {
  margin: 0;
  /* overflow-x: hidden; */

  background-color: #000000;
}

.Collider {
  perspective: 800px;
  display: inline-block;
}
.Collider div {
  transition: 200ms ease-out;
  display: inline-block;
}

#landerHeader {
  font-size: 8rem;
  font-family: aileron;
  text-align: center;

  color: #fdf7fa;
  background: linear-gradient(30deg, #006CCF, #fdf7fa 60%);
  color: transparent;
  background-clip: text;

  display: inline;
  pointer-events: none;

  transform:rotate3d(1, 0, 0, 10deg);
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-evenly;
  align-content: start;

  background-color:transparent;
  background-color: #111111;
  background: radial-gradient( ellipse 100% 120% at 10% 10%, #006CCF40 2%, transparent 25% ),
              radial-gradient( ellipse 100% 120% at 20% 20%, #7F9C9640 0, transparent 12% ),
              radial-gradient( ellipse 100% 120% at 10% 110%, #006CCF40 2%, transparent 25% ),
              #111111;
  background-size: 100vw 200vh;
  background-repeat: repeat;

  height: 2000px;
}

.sidebar {
  position: sticky;
  top:0;
  min-width: 300px;
  width: 20%;
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
  }
}

#selfie {
  width: 80%;
  border-radius: 10px;
  margin:6px;

  image-rendering: pixelated;
}

contacts {
  width: 80%;
  display: block;
}

.contactMethod {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 3em;
  min-height: 32px;
  margin: 10px 0;
  backdrop-filter: blur(3px);

  border: 3px solid #27272a;
  border-radius: 20px;
  padding: 4px;
  background: linear-gradient(
      30deg, #00000040 50%, transparent 50%
    );
  background-size: 300%;
  background-position: 100%;
  transition: background-position 700ms ease-out;
}

.contactMethod:hover {
  background-position: 0%;
}

contacts img {
  height: 80%;
  margin: 0;
}

content {
  /* min-width: 400px; */
  width: 75%;
  padding: 10px;
  box-sizing: border-box;
}

#topbar {
  display: flex;
  border: none; border-radius: 0px;
  background:none;
  margin: 0;
}

div.location {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 20px;
}
div.location p {
  font-size: 1.1rem;
}

.techSubHeader {
  margin: 0;
  font-size: 1.2rem;
}
.techStack {
  position: relative;
  left: 30px;
}
.techStack p {
  display: inline-block;
  font-size: 0.8rem;

  border: none;
  border-radius: 20px;
  padding: 10px 12px;
  margin: 15px 8px;
  min-width: 70px;

  text-align: center;
}
.language {
  background-color: #542121;
  color: #ef4444;
}
.framework {
  background-color: #1e3356;
  color: #3b82f6;
}
.practice {
  background-color: #164728;
  color: #22bc42;
}
